<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>
<body>
	<div>
		{% include 'blog/navbar.html' %}
	</div>


<br><br>

	{% block content %}  {% endblock %}





<script type="text/javascript" src="{% static 'js/jquerry.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>